<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.chulkilee.uuidgen</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>617A15FF-9EC0-4A87-B38E-90F4803F3D1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D80F1037-68B2-4B8E-B82A-B993B794C43C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C4081C-0E6B-4C49-8FB0-99E859C9E31A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>617A15FF-9EC0-4A87-B38E-90F4803F3D1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C177032A-B0DC-482C-A410-C1236D55B2B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C4081C-0E6B-4C49-8FB0-99E859C9E31A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80F1037-68B2-4B8E-B82A-B993B794C43C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77B91FA6-E9EA-4137-B048-73240E880835</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD95E1A4-AA36-46B0-8E3A-2988A6F91EE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C177032A-B0DC-482C-A410-C1236D55B2B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chulki Lee</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>uuidgen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>uuidgen</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>uuidgen</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FD95E1A4-AA36-46B0-8E3A-2988A6F91EE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>uuidgen</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C177032A-B0DC-482C-A410-C1236D55B2B7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>77B91FA6-E9EA-4137-B048-73240E880835</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D80F1037-68B2-4B8E-B82A-B993B794C43C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>78C4081C-0E6B-4C49-8FB0-99E859C9E31A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>617A15FF-9EC0-4A87-B38E-90F4803F3D1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>617A15FF-9EC0-4A87-B38E-90F4803F3D1C</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>77B91FA6-E9EA-4137-B048-73240E880835</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>78C4081C-0E6B-4C49-8FB0-99E859C9E31A</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C177032A-B0DC-482C-A410-C1236D55B2B7</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D80F1037-68B2-4B8E-B82A-B993B794C43C</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>FD95E1A4-AA36-46B0-8E3A-2988A6F91EE9</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/chulkilee/alfred-uuidgen</string>
</dict>
</plist>
